In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import roc_curve, roc_auc_score, confusion_matrix, f1_score

In [ ]:
data = pd.read_csv('machine-failure.csv')
data.head()

,Date,Temperature,Humidity,Operator,Measure1,Measure2,Measure3,Measure4,Measure5,Measure6,...,Measure15,Hours Since Previous Failure,Failure,﻿Date.year,﻿Date.month,﻿Date.day-of-month,﻿Date.day-of-week,﻿Date.hour,﻿Date.minute,﻿Date.second
0,2016-01-01 00:00:00,67,82,Operator1,291,1,1,1041,846,334,...,1842,90,No,2016,1,1,5,0,0,0
1,2016-01-01 01:00:00,68,77,Operator1,1180,1,1,1915,1194,637,...,748,91,No,2016,1,1,5,1,0,0
2,2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,...,1689,92,No,2016,1,1,5,2,0,0
3,2016-01-01 03:00:00,63,80,Operator1,550,1,1,1754,1834,1413,...,711,93,No,2016,1,1,5,3,0,0
4,2016-01-01 04:00:00,65,81,Operator1,1928,1,2,1326,1082,233,...,507,94,No,2016,1,1,5,4,0,0

In [ ]:
unique_values = pd.DataFrame(data.columns, columns=["Column"])
unique_values["Type"] = unique_values["Column"].apply(lambda x: data[x].dtype)
unique_values["UniqueValues"] = unique_values["Column"].apply(lambda x: data[x].nunique())

temp = pd.DataFrame(np.sum(data.isnull()), columns=['NULL'])
unique_values = pd.merge(unique_values, temp, left_on='Column', right_index=True)
unique_values

                          Column    Type  UniqueValues  NULL
0                           Date  object          8784     0
1                    Temperature   int64            23     0
2                       Humidity   int64            35     0
3                       Operator  object             8     0
4                       Measure1   int64          1843     0
5                       Measure2   int64             4     0
6                       Measure3   int64             3     0
7                       Measure4   int64          1837     0
8                       Measure5   int64          1839     0
9                       Measure6   int64          1843     0
10                      Measure7   int64          1842     0
11                      Measure8   int64          1851     0
12                      Measure9   int64          1839     0
13                     Measure10   int64          1837     0
14                     Measure11   int64          1839     0
15                     Measure12   int64          1842     0
16                     Measure13   int64          1841     0
17                     Measure14   int64          1843     0
18                     Measure15   int64          1837     0
19  Hours Since Previous Failure   int64           666     0
20                       Failure  object             2     0
21                    ﻿Date.year   int64             1     0
22                   ﻿Date.month   int64            12     0
23            ﻿Date.day-of-month   int64            31     0
24             ﻿Date.day-of-week   int64             7     0
25                    ﻿Date.hour   int64            24     0
26                  ﻿Date.minute   int64             1     0
27                  ﻿Date.second   int64             1     0

In [ ]:
data['Failure'].value_counts()

No     8703
Yes      81
Name: Failure, dtype: int64

In [ ]:
data = data.drop(labels = ['Date'], axis = 1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i, col in enumerate(data.columns):
    if(data[col].dtype == 'object'): 
        data[col] = le.fit_transform(data[col])
        print('done')

done
done

# Temperature vs Failure

In [ ]:
pd.crosstab(data["Failure"], data["Temperature"])

Temperature,5,12,19,28,60,61,62,63,64,65,...,69,70,71,72,73,74,75,76,77,78
Failure,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,981,964,977,976,942,957,...,1,2,2,4,2,1,1,0,0,0
1,0,0,0,0,1,0,1,4,2,3,...,9,3,11,15,5,2,3,2,3,1

In [ ]:
target = data['Failure']
training = data.drop(labels = ['Failure'] , axis = 1)

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split( training, target,
                                                random_state = 10, test_size= .4, stratify = target)

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, class_weight = 'balanced')

In [ ]:
clf.fit(Xtrain, ytrain)
y_pred = clf.predict(Xtest)

In [ ]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
print(recall_score(ytest, y_pred, average = 'macro'))
print(precision_score(ytest, y_pred, average = 'macro'))
print(f1_score(ytest, y_pred, average='macro'))
print(accuracy_score(ytest, y_pred))

0.8777642159678346
0.5308800657334859
0.5267722473604827
0.8804780876494024

# Radial kernel

In [ ]:
from sklearn.svm import SVC
clf2 = SVC(kernel = 'rbf',class_weight= 'balanced')

In [ ]:
clf2.fit(Xtrain, ytrain)
y_pred2 = clf2.predict(Xtest)

In [ ]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
print(recall_score(ytest, y_pred2, average = 'macro'))
print(precision_score(ytest, y_pred2, average = 'macro'))
print(f1_score(ytest, y_pred2, average='macro'))
print(accuracy_score(ytest, y_pred2))

0.5
0.4954467842914058
0.4977129788450543
0.9908935685828116

C:\Users\Pratiksha\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Pratiksha\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Polynomial kernel

In [ ]:
from sklearn.svm import SVC
clf2 = SVC(kernel = 'poly',class_weight= 'balanced')

In [ ]:
clf2.fit(Xtrain, ytrain)
y_pred3 = clf2.predict(Xtest)

In [ ]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
print(recall_score(ytest, y_pred3, average = 'macro'))
print(precision_score(ytest, y_pred3, average = 'macro'))
print(f1_score(ytest, y_pred3, average='macro'))
print(accuracy_score(ytest, y_pred3))

0.5267985353245261
0.525993923724461
0.5263889349197406
0.9826408651109846